<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <q-page class="flex flex-center bg-white">
      <q-scroll-area class="absolute full-width full-height">
        <div
          class="full-width q-px-lg q-pb-xl q-pt-md"
          :style="{ 'min-height: 90vh': !isButtonClicked }"
          id="element-to-convert"
        >
          <!-- Heading -->
          <div>
            <div class="text-h3">Sales</div>
            <p class="text-grey-6 q-mt-sm">
              Here, you can view the forecasted sales data.
            </p>
          </div>

          <!-- Sales Content -->
          <div class="items-center text-16">
            <div class="flex q-px-lg justify-end">
              <q-btn
                :disable="!labels.length && !datasets.length"
                no-caps
                flat
                icon="download"
                class="bg-primary text-white text-weight-regular q-px-lg rounded-borders-10"
                label="Download"
                @click="exportToPDF"
                :class="isButtonClicked ? 'hidden' : ''"
              >
                &nbsp;&nbsp;
              </q-btn>
            </div>

            <!-- Line Charts -->
            <div :class="{ 'styled-content': isButtonClicked }">
              <div
                class="q-pl-sm flex flex-center"
                :class="isButtonClicked ? '' : 'q-pt-xl '"
              >
                <LineChart
                  v-if="labels.length && datasets.length"
                  :data="{ labels, datasets }"
                  :options="options"
                  style="width: 100% !important; height: 56vh"
                  :class="{ 'chart-download': isButtonClicked }"
                />
                <div v-else>No Data Available</div>
                <br />
              </div>
              <!-- ERRORS -->
              <div
                v-if="labels.length && datasets.length"
                class="fit text-12 q-gutter-x-md q-mt-lg q-ml-xl q-pl-sm"
                :class="isButtonClicked ? 'row' : 'col'"
              >
                <div class="row">
                  MSE:
                  <div class="text-red q-pl-xs">{{ mseErrorValue }}</div>
                </div>
                <div class="row">
                  r²:
                  <div class="text-red q-pl-xs">{{ rsquaredErrorValue }}</div>
                </div>
              </div>

              <!-- Actual Sales Values -->
              <div class="q-ml-xl q-pl-md q-mt-md">
                <div class="" :class="isButtonClicked ? '' : 'hidden'">
                  <div
                    v-if="labels.length && datasets.length"
                    class="text-dark text-center"
                  >
                    <div class="row q-gutter-x-md text-caption">
                      <q-card
                        v-for="(label, index) in labels"
                        :key="index"
                        class="my-card bg-grey-2 rounded-borders"
                        flat
                        style="min-width: 160px !important"
                      >
                        <q-card-section>
                          <div>{{ label }}</div>
                          <div>
                            Sales: {{ roundValue(forecastY[0][index]) }}
                          </div>
                        </q-card-section>
                      </q-card>
                    </div>
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </q-scroll-area>
    </q-page>
  </transition>
</template>

<script src="src/pages/SalesMgmt/scripts/ForecastSales.js"></script>

<style>
.styled-content {
  transform: scale(0.9);
  page-break-inside: avoid;
}

.chart-download {
  width: 200% !important;
}
</style>
