<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <q-page class="flex flex-center bg-white">
      <q-scroll-area class="absolute fit q-pt-md">
        <div class="full-width q-px-lg">
          <!-- Header -->
          <div flat>
            <div class="text-h3">Welcome, {{ currentUserInfo.user_type }}!</div>
            <p class="text-grey-6 q-mt-sm">
              Here's your summary sales of data.
            </p>
          </div>

          <!-- Cards -->
          <div
            class="q-gutter-md q-pt-md justify-center"
            :class="$q.screen.width <= 820 ? 'col q-gutter-lg' : 'row'"
          >
            <q-card
              clickable
              flat
              class="my-card bg-grey-2 rounded-borders clickable"
              @click="
                router.push({
                  name: 'inventory-mgmt',
                  params: { inventory_name: books },
                })
              "
            >
              <q-card-section>
                <div class="text-subtitle2 text-primary">Books</div>
                <!-- <div class="text-h6">30,000</div> -->
                <div class="text-h6">
                  {{ calculatedTotalSales.totalSalesOfBooks }}
                </div>
                <q-item-label caption class="text-right">
                  <q-icon
                    name="import_contacts"
                    class="material-symbols-outlined"
                    size="xs"
                  />
                </q-item-label>
              </q-card-section>
            </q-card>
            <q-card
              clickable
              flat
              class="my-card bg-grey-2 rounded-borders clickable"
              @click="
                router.push({
                  name: 'inventory-mgmt',
                  params: { inventory_name: uniforms },
                })
              "
            >
              <q-card-section>
                <div class="text-subtitle2 text-primary">Uniform</div>
                <div class="text-h6">
                  {{ calculatedTotalSales.totalSalesOfUniforms }}
                </div>
                <q-item-label caption class="text-right">
                  <q-icon
                    name="checkroom"
                    class="material-symbols-outlined"
                    size="xs"
                  />
                </q-item-label>
              </q-card-section>
            </q-card>
            <q-card
              clickable
              flat
              class="my-card bg-grey-2 rounded-borders clickable"
              @click="
                router.push({
                  name: 'inventory-mgmt',
                  params: { inventory_name: pajahs },
                })
              "
            >
              <q-card-section>
                <div class="text-subtitle2 text-primary">Pajah</div>
                <div class="text-h6">
                  {{ calculatedTotalSales.totalSalesOfPajahs }}
                </div>
                <q-item-label caption class="text-right">
                  <q-icon
                    name="school"
                    class="material-symbols-outlined"
                    size="xs"
                  />
                </q-item-label>
              </q-card-section>
            </q-card>
            <q-card
              clickable
              flat
              class="bg-grey-2 rounded-borders clickable hidden"
              style="min-width: 120px"
            >
              <q-card-section>
                <div class="text-subtitle2 text-primary">Other</div>
                <div class="text-h6 text-transparent">.</div>
                <q-item-label caption class="text-right">
                  <q-icon
                    name="add"
                    class="material-symbols-outlined"
                    size="xs"
                  />
                </q-item-label>
              </q-card-section>
            </q-card>
          </div>

          <!-- Line Chart -->
          <div class="q-py-xl q-pl-sm flex flex-center">
            <LineChart
              v-if="labels.length && datasets.length"
              :data="{ labels, datasets }"
              :options="options"
              style="width: 100% !important; height: 56vh"
            />
            <div v-else>Loading...</div>
            <br />
          </div>
        </div>
      </q-scroll-area>
    </q-page>
  </transition>
</template>

<script>
import { ref, onMounted } from "vue";
import { FetchInventoryData, FetchSalesData } from "src/server";
import {
  Chart as ChartJS,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend,
} from "chart.js";
import { Line } from "vue-chartjs";
import { LocalStorage } from "quasar";
import { useRouter, useRoute } from "vue-router";

// Define variables for chart
ChartJS.register(
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend
);

export default {
  name: "DashboardPg",
  components: {
    LineChart: Line,
  },
  setup() {
    const forecastX = ref([]);
    const forecastY = ref([]);

    const labels = ref([]);
    const datasets = ref([]);

    let SearchBooks = ref([]);
    let SearchUniforms = ref([]);
    let SearchPajahs = ref([]);
    let SearchSales = ref([]);

    const router = useRouter();

    onMounted(async () => {
      try {
        // COUNTING SALES FOR BOOKS
        const responseForBooks = await FetchInventoryData("inventory", {
          endpoint: "",
          params: { inventory_name: "Books" },
        });
        SearchBooks.value = responseForBooks; // Assign fetched data to Search

        // Calculate total sales
        total.value.totalSalesOfBooks = calculateTotalSales(SearchBooks.value);

        // Format total sales with commas and leading zeros
        calculatedTotalSales.value.totalSalesOfBooks = formatNumber(
          total.value.totalSalesOfBooks
        ); // With comma
        /* calculatedTotalSales.value.totalSalesOfBooks =
          total.value.totalSalesOfBooks; //Without comma */

        // COUNTING SALES FOR UNIFORMS
        const responseForUniforms = await FetchInventoryData("inventory", {
          endpoint: "",
          params: { inventory_name: "Uniforms" },
        });
        SearchUniforms.value = responseForUniforms; // Assign fetched data to Search

        // Calculate total sales
        total.value.totalSalesOfUniforms = calculateTotalSales(
          SearchUniforms.value
        );

        // Format total sales with commas and leading zeros
        calculatedTotalSales.value.totalSalesOfUniforms = formatNumber(
          total.value.totalSalesOfUniforms
        );

        // COUNTING SALES FOR PPAJAHS
        const responseForPajahs = await FetchInventoryData("inventory", {
          endpoint: "",
          params: { inventory_name: "Pajahs" },
        });
        SearchPajahs.value = responseForPajahs; // Assign fetched data to Search
        total.value.totalSalesOfPajahs = calculateTotalSales(
          SearchPajahs.value
        ); // Calculate total sales

        // Format total sales with commas and leading zeros
        calculatedTotalSales.value.totalSalesOfPajahs = formatNumber(
          total.value.totalSalesOfPajahs
        );

        // DATA FOR CHART

        // COUNTING SALES DATA
        const responseForSales = await FetchSalesData("sales", {
          endpoint: "",
          params: "",
        });
        SearchSales.value = responseForSales; // Assign fetched data to Search

        // Populate forecastX and forecastY arrays based on fetched data
        const salesByDate = new Map();

        for (const saleData of responseForSales) {
          const { date, total_sales } = saleData;

          // Check if the date already exists in the map
          if (salesByDate.has(date)) {
            // If the date exists, add the total_sales to the existing value
            salesByDate.set(date, salesByDate.get(date) + total_sales);
          } else {
            // If the date does not exist, initialize it with the total_sales
            salesByDate.set(date, total_sales);
          }
        }

        // Convert the Map to arrays and populate forecastX and forecastY
        for (const [date, totalSales] of salesByDate) {
          forecastX.value.push(date);
          forecastY.value.push(totalSales);
        }

        // Update chart data after fetching
        updateChartData();
      } catch (error) {
        console.error("Error fetching data:", error);
      }
    });

    // Define total variables
    const total = ref({
      totalSalesOfBooks: null,
      totalSalesOfUniforms: 0,
      totalSalesOfPajahs: 0,
    });

    const calculatedTotalSales = ref({
      totalSalesOfBooks: "",
      totalSalesOfUniforms: "",
      totalSalesOfPajahs: "",
    });

    // Define function to calculate total sales
    const calculateTotalSales = (salesData) => {
      let totalSalesOfBooks = 0;
      let totalSalesOfUniforms = 0;
      let totalSalesOfPajahs = 0;
      for (const saleData of salesData) {
        totalSalesOfBooks += parseInt(saleData.total_sales);
        totalSalesOfUniforms += parseInt(saleData.total_sales);
        totalSalesOfPajahs += parseInt(saleData.total_sales);
      }
      return totalSalesOfBooks, totalSalesOfUniforms, totalSalesOfPajahs;
      // Remove this code if no P sign
      // .toLocaleString("en-PH", {
      //   style: "currency",
      //   currency: "PHP",
      // })
      // .split(".")[0]
      // Remove this if no 0.xx
    };

    // Format number with commas and leading zeros
    const formatNumber = (number) => {
      return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    };

    // Function to update chart data
    const updateChartData = () => {
      labels.value = forecastX.value;
      datasets.value = [
        {
          label: "Sales",
          data: forecastY.value,
          fill: false,
          borderColor: "#FFB200",
          pointBackgroundColor: "#FFB200", // Set point background color
          pointRadius: 5,
          tension: 0.1,
        },
      ];
    };

    // Data for Chart
    ChartJS.defaults.font.family = "Poppins";
    // const labels = Utils.months({ count: 7 });
    // // Data for Chart
    // const data = ref({
    //   labels: [],
    //   datasets: [
    //     {
    //       label: "Forecasted Sales",
    //       data: [],
    //       fill: false,
    //       borderColor: "#FFB200",
    //       tension: 0.1,
    //     },
    //   ],
    // });

    //Options for Chart
    const options = ref({
      responsive: true,
      plugins: {
        legend: {
          display: false, // Undisplays legends
          labels: {
            font: {
              family: "Poppins",
            },
          },
        },
      },
    });

    const currentUserInfo = LocalStorage.getItem("userData");
    const books = "Books";
    const uniforms = "Uniforms";
    const pajahs = "Pajahs";

    return {
      router,
      calculatedTotalSales,
      labels,
      datasets,
      options,
      currentUserInfo,
      books,
      uniforms,
      pajahs,
    };
  },
};
</script>
